/* dark styling of the editor */
div.bsoneditor,
div.bsoneditor-menu {
  border-color: #4b4b4b;
}
div.bsoneditor-menu {
  background-color: #4b4b4b;
}
div.bsoneditor-tree,
div.bsoneditor textarea.bsoneditor-text {
  background-color: #666666;
  color: #ffffff;
}
div.bsoneditor-field,
div.bsoneditor-value {
  color: #ffffff;
}
table.bsoneditor-search div.bsoneditor-frame {
  background: #808080;
}

tr.bsoneditor-highlight,
tr.bsoneditor-selected {
  background-color: #808080;
}

div.bsoneditor-field[contenteditable=true]:focus,
div.bsoneditor-field[contenteditable=true]:hover,
div.bsoneditor-value[contenteditable=true]:focus,
div.bsoneditor-value[contenteditable=true]:hover,
div.bsoneditor-field.bsoneditor-highlight,
div.bsoneditor-value.bsoneditor-highlight {
  background-color: #808080;
  border-color: #808080;
}

div.bsoneditor-field.highlight-active,
div.bsoneditor-field.highlight-active:focus,
div.bsoneditor-field.highlight-active:hover,
div.bsoneditor-value.highlight-active,
div.bsoneditor-value.highlight-active:focus,
div.bsoneditor-value.highlight-active:hover {
  background-color: #b1b1b1;
  border-color: #b1b1b1;
}

div.bsoneditor-tree button:focus {
  background-color: #868686;
}

/* coloring of JSON in tree mode */
div.bsoneditor-readonly {
  color: #acacac;
}
div.bsoneditor td.bsoneditor-separator {
  color: #acacac;
}
div.bsoneditor-value.bsoneditor-string {
  color: #00ff88;
}
div.bsoneditor-value.bsoneditor-object,
div.bsoneditor-value.bsoneditor-array {
  color: #bababa;
}
div.bsoneditor-value.bsoneditor-number {
  color: #ff4040;
}
div.bsoneditor-value.bsoneditor-boolean {
  color: #ff8048;
}
div.bsoneditor-value.bsoneditor-null {
  color: #49a7fc;
}
div.bsoneditor-value.bsoneditor-invalid {
  color: white;
}
