
div.bsoneditor {

}

div.bsoneditor-field,
div.bsoneditor-value,
div.bsoneditor-readonly {
  border: 1px solid transparent;
  min-height: 16px;
  min-width: 32px;
  padding: 2px;
  margin: 1px;
  word-wrap: break-word;
  float: left;
}

/* adjust margin of p elements inside editable divs, needed for Opera, IE */
div.bsoneditor-field p,
div.bsoneditor-value p {
  margin: 0;
}

div.bsoneditor-value {
  word-break: break-word;
}

div.bsoneditor-readonly {
  min-width: 16px;
  color: #808080;
}

div.bsoneditor-empty {
  border-color: #d3d3d3;
  border-style: dashed;
  border-radius: 2px;
}

div.bsoneditor-field.bsoneditor-empty::after,
div.bsoneditor-value.bsoneditor-empty::after {
  pointer-events: none;
  color: #d3d3d3;
  font-size: 8pt;
}

div.bsoneditor-field.bsoneditor-empty::after {
  content: "field";
}

div.bsoneditor-value.bsoneditor-empty::after {
  content: "value";
}

div.bsoneditor-value.bsoneditor-url,
a.bsoneditor-value.bsoneditor-url {
  color: green;
  text-decoration: underline;
}

a.bsoneditor-value.bsoneditor-url {
  display: inline-block;
  padding: 2px;
  margin: 2px;
}

a.bsoneditor-value.bsoneditor-url:hover,
a.bsoneditor-value.bsoneditor-url:focus {
  color: #ee422e;
}

div.bsoneditor td.bsoneditor-separator {
  padding: 3px 0;
  vertical-align: top;
  color: #808080;
}

div.bsoneditor-field[contenteditable=true]:focus,
div.bsoneditor-field[contenteditable=true]:hover,
div.bsoneditor-value[contenteditable=true]:focus,
div.bsoneditor-value[contenteditable=true]:hover,
div.bsoneditor-field.bsoneditor-highlight,
div.bsoneditor-value.bsoneditor-highlight {
  background-color: #FFFFAB;
  border: 1px solid yellow;
  border-radius: 2px;
}

div.bsoneditor-field.bsoneditor-highlight-active,
div.bsoneditor-field.bsoneditor-highlight-active:focus,
div.bsoneditor-field.bsoneditor-highlight-active:hover,
div.bsoneditor-value.bsoneditor-highlight-active,
div.bsoneditor-value.bsoneditor-highlight-active:focus,
div.bsoneditor-value.bsoneditor-highlight-active:hover {
  background-color: #ffee00;
  border: 1px solid #ffc700;
  border-radius: 2px;
}

div.bsoneditor-value.bsoneditor-string {
  color: steelblue;
}

div.bsoneditor-value.bsoneditor-string::before {
  content: '"';
}

div.bsoneditor-value.bsoneditor-string::after {
  content: '"';
}

div.bsoneditor-value.bsoneditor-date::before {
  content: 'Date("';
}

div.bsoneditor-value.bsoneditor-date::after {
  content: '")';
}

div.bsoneditor-value.bsoneditor-date {
  color: firebrick;
}

div.bsoneditor-value.bsoneditor-objectId::before {
  content: 'CompoundId("';
}

div.bsoneditor-value.bsoneditor-objectId::after {
  content: '")';
}

div.bsoneditor-value.bsoneditor-objectId {
  color: orangered;
}

div.bsoneditor-value.bsoneditor-object,
div.bsoneditor-value.bsoneditor-array {
  min-width: 16px;
  color: #808080;
}

div.bsoneditor-value.bsoneditor-error {
  color: #ee422e;
}

div.bsoneditor-value.bsoneditor-number {
  color: #1e8449;
}

div.bsoneditor-value.bsoneditor-boolean {
  color: purple;
}

div.bsoneditor-value.bsoneditor-null {
  color: #004ED0;
}

div.bsoneditor-value.bsoneditor-invalid {
  color: #000000;
}


div.bsoneditor-tree button {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent url('./img/bsoneditor-icons.svg');

}

div.bsoneditor-mode-view tr.bsoneditor-expandable td.bsoneditor-tree,
div.bsoneditor-mode-form tr.bsoneditor-expandable td.bsoneditor-tree {
  cursor: pointer;
}

div.bsoneditor-tree button.bsoneditor-collapsed {
  background-position: 0 -48px;
}

div.bsoneditor-tree button.bsoneditor-expanded {
  background-position: 0 -72px;
}

div.bsoneditor-tree button.bsoneditor-contextmenu {
  background-position: -48px -72px;
}

div.bsoneditor-tree button.bsoneditor-contextmenu:hover,
div.bsoneditor-tree button.bsoneditor-contextmenu:focus,
div.bsoneditor-tree button.bsoneditor-contextmenu.bsoneditor-selected,
tr.bsoneditor-selected.bsoneditor-first button.bsoneditor-contextmenu {
  background-position: -48px -48px;
}

div.bsoneditor-tree *:focus {
  outline: none;
}

div.bsoneditor-tree button:focus {
  /* TODO: nice outline for buttons with focus
  outline: #97B0F8 solid 2px;
  box-shadow: 0 0 8px #97B0F8;
  */
  background-color: #f5f5f5;
  outline: #e5e5e5 solid 1px;
}

div.bsoneditor-tree button.bsoneditor-invisible {
  visibility: hidden;
  background: none;
}

div.bsoneditor-tree div.bsoneditor-show-more {
  display: inline-block;
  padding: 3px 4px;
  margin: 2px 0;

  background-color: #e5e5e5;
  border-radius: 3px;
  color: #808080;

  font-family: arial, sans-serif;
  font-size: 10.0pt;
}

div.bsoneditor-tree div.bsoneditor-show-more a {
  display: inline-block;
  color: #808080;
}

div.bsoneditor-tree div.bsoneditor-show-more a:hover,
div.bsoneditor-tree div.bsoneditor-show-more a:focus {
  color: #ee422e;
}

div.bsoneditor {
  color: #1A1A1A;
  border: 1px solid #3883fa;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  line-height: 100%;
}


div.bsoneditor-tree table.bsoneditor-tree {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 300px; /* keep space for the action menu dropdown */
}

div.bsoneditor-outer {
  position: static;
  width: 100%;
  height: 100%;
  margin: -35px 0 0 0;
  padding: 35px 0 0 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div.bsoneditor-outer.has-nav-bar {
  margin: -61px 0 0 0;
  padding: 61px 0 0 0;
}

div.bsoneditor-outer.has-status-bar {
  margin: -35px 0 -26px 0;
  padding: 35px 0 26px 0;
}

textarea.bsoneditor-text,
.ace-bsoneditor {
  min-height: 150px;
}

div.bsoneditor-tree {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

textarea.bsoneditor-text {
  width: 100%;
  height: 100%;
  margin: 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  outline-width: 0;
  border: none;
  background-color: white;
  resize: none;
}

tr.bsoneditor-highlight,
tr.bsoneditor-selected {
  background-color: #d3d3d3;
}

tr.bsoneditor-selected button.bsoneditor-dragarea,
tr.bsoneditor-selected button.bsoneditor-contextmenu {
  visibility: hidden;
}

tr.bsoneditor-selected.bsoneditor-first button.bsoneditor-dragarea,
tr.bsoneditor-selected.bsoneditor-first button.bsoneditor-contextmenu {
  visibility: visible;
}

div.bsoneditor-tree button.bsoneditor-dragarea {
  background: url('./img/bsoneditor-icons.svg') -72px -72px;
  cursor: move;
}

div.bsoneditor-tree button.bsoneditor-dragarea:hover,
div.bsoneditor-tree button.bsoneditor-dragarea:focus,
tr.bsoneditor-selected.bsoneditor-first button.bsoneditor-dragarea {
  background-position: -72px -48px;
}

div.bsoneditor tr,
div.bsoneditor th,
div.bsoneditor td {
  padding: 0;
  margin: 0;
}

div.bsoneditor td {
  vertical-align: top;
}

div.bsoneditor td.bsoneditor-tree {
  vertical-align: top;
}

div.bsoneditor-field,
div.bsoneditor-value,
div.bsoneditor td,
div.bsoneditor th,
div.bsoneditor textarea,
.bsoneditor-schema-error {
  font-family: "dejavu sans mono", "droid sans mono", consolas, monaco, "lucida console", "courier new", courier, monospace, sans-serif;
  font-size: 10.0pt;
  color: #1A1A1A;
}





/* popover */
.bsoneditor-schema-error {
  cursor: default;
  display: inline-block;
  /*font-family: arial, sans-serif;*/
  height: 24px;
  line-height: 24px;
  position: relative;
  text-align: center;
  width: 24px;
}

div.bsoneditor-tree .bsoneditor-schema-error {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0 4px 0 0;
  background: url('./img/bsoneditor-icons.svg')  -168px -48px;
}

.bsoneditor-schema-error .bsoneditor-popover {
  background-color: #4c4c4c;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  color: #fff;
  display: none;
  padding: 7px 10px;
  position: absolute;
  width: 200px;
  z-index: 4;
}

.bsoneditor-schema-error .bsoneditor-popover.bsoneditor-above {
  bottom: 32px;
  left: -98px;
}

.bsoneditor-schema-error .bsoneditor-popover.bsoneditor-below {
  top: 32px;
  left: -98px;
}

.bsoneditor-schema-error .bsoneditor-popover.bsoneditor-left {
  top: -7px;
  right: 32px;
}

.bsoneditor-schema-error .bsoneditor-popover.bsoneditor-right {
  top: -7px;
  left: 32px;
}

.bsoneditor-schema-error .bsoneditor-popover:before {
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  content: '';
  display: block;
  left: 50%;
  margin-left: -7px;
  position: absolute;
}

.bsoneditor-schema-error .bsoneditor-popover.bsoneditor-above:before {
  border-top: 7px solid #4c4c4c;
  bottom: -7px;
}

.bsoneditor-schema-error .bsoneditor-popover.bsoneditor-below:before {
  border-bottom: 7px solid #4c4c4c;
  top: -7px;
}

.bsoneditor-schema-error .bsoneditor-popover.bsoneditor-left:before {
  border-left: 7px solid #4c4c4c;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  content: '';
  top: 19px;
  right: -14px;
  left: inherit;
  margin-left: inherit;
  margin-top: -7px;
  position: absolute;
}

.bsoneditor-schema-error .bsoneditor-popover.bsoneditor-right:before {
  border-right: 7px solid #4c4c4c;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  content: '';
  top: 19px;
  left: -14px;
  margin-left: inherit;
  margin-top: -7px;
  position: absolute;
}

.bsoneditor-schema-error:hover .bsoneditor-popover,
.bsoneditor-schema-error:focus .bsoneditor-popover {
  display: block;
  -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
}

@-webkit-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-ms-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
/*@-webkit-keyframes move-up {*/
  /*from   { bottom: 24px; }*/
  /*to { bottom: 32px; }*/
/*}*/
/*@-moz-keyframes move-up {*/
  /*from   { bottom: 24px; }*/
  /*to { bottom: 32px; }*/
/*}*/
/*@-ms-keyframes move-up {*/
  /*from   { bottom: 24px; }*/
  /*to { bottom: 32px; }*/
/*}*/


/* JSON schema errors displayed at the bottom of the editor in mode text and code */

.bsoneditor .bsoneditor-text-errors {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffef8b;
  border-top: 1px solid #ffd700;
}

.bsoneditor .bsoneditor-text-errors td {
  padding: 3px 6px;
  vertical-align: middle;
}

.bsoneditor-text-errors .bsoneditor-schema-error {
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0 4px 0 0;
  background: url('./img/bsoneditor-icons.svg')  -168px -48px;
}

