
div.bsoneditor-menu {
  width: 100%;
  height: 35px;
  padding: 2px;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  color: white;
  background-color: #3883fa;
  border-bottom: 1px solid #3883fa;
}

div.bsoneditor-menu > button,
div.bsoneditor-menu > div.bsoneditor-modes > button {
  width: 26px;
  height: 26px;
  margin: 2px;
  padding: 0;
  border-radius: 2px;
  border: 1px solid transparent;
  background: transparent url('./img/bsoneditor-icons.svg');
  color: white;
  opacity: 0.8;

  font-family: arial, sans-serif;
  font-size: 10pt;

  float: left;
}

div.bsoneditor-menu > button:hover,
div.bsoneditor-menu > div.bsoneditor-modes > button:hover {
  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.4);
}
div.bsoneditor-menu > button:focus,
div.bsoneditor-menu > button:active,
div.bsoneditor-menu > div.bsoneditor-modes > button:focus,
div.bsoneditor-menu > div.bsoneditor-modes > button:active {
  background-color: rgba(255,255,255,0.3);
}
div.bsoneditor-menu > button:disabled,
div.bsoneditor-menu > div.bsoneditor-modes > button:disabled {
  opacity: 0.5;
}

div.bsoneditor-menu > button.bsoneditor-collapse-all {
  background-position: 0 -96px;
}
div.bsoneditor-menu > button.bsoneditor-expand-all {
  background-position: 0 -120px;
}
div.bsoneditor-menu > button.bsoneditor-sort {
  background-position: -120px -96px;
}
div.bsoneditor-menu > button.bsoneditor-transform {
  background-position: -144px -96px;
}
div.bsoneditor-menu > button.bsoneditor-save {
  background: unset;
  background: transparent;
  width: unset;
  width: auto;
  padding-left: 2px;
  padding-right: 5px;
}
div.bsoneditor-menu > button.bsoneditor-cancel {
  background: unset;
  width: unset;
  padding-left: 2px;
  padding-right: 5px;
}
div.bsoneditor-menu > button.bsoneditor-undo {
  background-position: -24px -96px;
}
div.bsoneditor-menu > button.bsoneditor-undo:disabled {
  background-position: -24px -120px;
}
div.bsoneditor-menu > button.bsoneditor-redo {
  background-position: -48px -96px;
}
div.bsoneditor-menu > button.bsoneditor-redo:disabled {
  background-position: -48px -120px;
}
div.bsoneditor-menu > button.bsoneditor-compact {
  background-position: -72px -96px;
}
div.bsoneditor-menu > button.bsoneditor-format {
  background-position: -72px -120px;
}
div.bsoneditor-menu > button.bsoneditor-repair {
  background-position: -96px -96px;
}

div.bsoneditor-menu > div.bsoneditor-modes {
  display: inline-block;
  float: left;
}

div.bsoneditor-menu > div.bsoneditor-modes > button {
  background-image: none;
  width: auto;
  padding-left: 6px;
  padding-right: 6px;
}

div.bsoneditor-menu > button.bsoneditor-separator,
div.bsoneditor-menu > div.bsoneditor-modes > button.bsoneditor-separator {
  margin-left: 0;
}

div.bsoneditor-menu a {
  font-family: arial, sans-serif;
  font-size: 10pt;
  color: white;
  opacity: 0.8;
  vertical-align: middle;
}

div.bsoneditor-menu a:hover {
  opacity: 1;
}

div.bsoneditor-menu a.bsoneditor-poweredBy {
  font-size: 8pt;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}
